<div class="container">
  <div class="logo">
    <img src="assets/img/newo-logo.png" alt="">
  </div>
  
  <div class="box">
  
    <div class="img">
      <h1>{{mensaje}}</h1>
    </div>


    <div class="qr-img hidden" id="qr-img" >
      <img src="assets/img/newo-qr.png" width="150px" alt="">
    </div>

    <div class="error hidden" id="error">
      <div class="msg-error">
        <img src="assets/img/newo-warning.png" width="50px" alt="">
        <h1>{{mensaje}}</h1>
      </div>
    </div>
    
  
    <div id="donut" class="donut " >
      <img class="img-donut" src="assets/img/donut-step-1.png" alt="">

      <div class="porcentaje ">
          <svg>
              <circle cx="70" cy="70" r=70 stroke="#121212"></circle>
              <circle id="circle2" class="circle2" cx="70" cy="70" r=70 stroke="url(#Gradient1)"></circle>
              <circle id="circle3" class="circle3"  cx="70" cy="70" r=70 stroke="url(#Gradient2)"></circle>
              <circle id="circle4" class="circle4 hidden"  cx="70" cy="70" r=70 stroke="url(#Gradient3)"></circle>
              <circle id="circlef" class="circlef"  cx="70" cy="70" r=70 stroke="#121212"></circle>
              <defs>
                  <linearGradient id="Gradient1" gradientTransform="rotate(90)">
                    <stop offset="0%" stop-color="#EF25EF"/>
                    <stop offset="100%" stop-color="#A125FB"/>
                  </linearGradient>
                  <linearGradient id="Gradient2" gradientTransform="rotate(15)">
                    <stop offset="60%" stop-color="#121212"/>
                    <stop offset="100%" stop-color="#ffffff00"/>
                </linearGradient>
                <linearGradient id="Gradient3" gradientTransform="rotate(15)">
                  <stop offset="20%" stop-color="#121212"/>
                  <stop offset="100%" stop-color="#ffffff00"/>
              </linearGradient>
              </defs>
          </svg>
      </div>
    </div>
    
  </div>
</div>