<div class="container">
  <div class="logo">
    <img src="assets/img/newo-logo.png" alt="">
  </div>
  
  <div class="box">
  
    <div class="img">
      <h1>{{mensaje}}</h1>
    </div>
    
    <div class="qr-img" id="qr-img" style="transition: 2s ease;">
      <img src="assets/img/newo-qr.png" width="150px" style="margin-bottom: 65px;" alt="">
    </div>
  
    <div id="donut" class="donut hidden" style="transition: 2s ease;">
      <img class="img-donut" src="assets/img/donut-step-1.png" alt="">
    
      <div class="porcentaje ">
          <svg>
              <circle cx="70" cy="70" r=70 stroke="#121212"></circle>
              <circle cx="70" cy="70" r=70 stroke="url(#Gradient1)"></circle>
              <defs>
                  <linearGradient id="Gradient1" gradientTransform="rotate(0)">
                      <stop offset="0%" stop-color="#121212"/>
                      <stop offset="100%" stop-color="#A21898"/>
                  </linearGradient>
                  <radialGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
                      <stop offset="0%"   stop-color="#591254"/>
                      <stop offset="80%"  stop-color="#333"/>
                      <stop offset="100%" stop-color="#A21898"/>
                  </radialGradient>
              </defs>
          </svg>
      </div>
    </div>
    
  </div>
</div>