* {
    background-color: var(--ion-color-black);
    color: var(--ion-color-white);
}
.content-cards{
    display: flex;
    justify-content: space-around;
    ion-card{
        width: 30vw;
        cursor: pointer;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-item {
        border-bottom: solid 0.5px var(--ion-color-lightgray3);
    }

}

ion-label{
    --color: var(--ion-color-white) !important;
}

ion-input {
    color: var(--ion-color-lightgray4);
}

ion-button {
    --background: var(--ion-color-white);
    --background-activated: var(--ion-color-white-shade);
    color: var(--ion-color-black);
}