<ion-content class="ion-padding" *ngIf="!isLogin">
  <section>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!isLogin">{{ 'LOGIN_TITLE' | translate }}</ion-title>
      <ion-title *ngIf="isLogin">Bienvenido</ion-title>
    </ion-toolbar>
  
    <form >
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="account.username" name="username" label="Usuario" placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="account.password" name="password" type="password" label="Contraseña"></ion-input>
        </ion-item>
        <ion-row class="ion-padding">
          <ion-col>
            <ion-button expand="block" type="button" (click)="login()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </section>

</ion-content>

<ion-content class="ion-padding" *ngIf="isLogin">
  <section>
    <h4>Selecciona la sede</h4>

    <div class="sedes">
      <div *ngFor="let sede of sedes">
        <div [ngClass]="selected == sede.id ? 'contentSede Selected' : 'contentSede'" (click)="sedeSelected(sede)">
          <img src="../../../assets/img/{{sede.id}}.jpg" alt="Del Este">
          <p>{{sede.nombreSede}}</p>
          <div class="booking-imgBlur"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="content-cards">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Leer codigos QR</ion-card-title>
        <ion-card-subtitle>Ingresar al modulo</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Bienvenido al módulo de lectura de códigos QR. En este módulo podrás determinar si el código QR es de entrada o salida y validar al miembro o invitado que desee procesar un código QR. 
      </ion-card-content>
    </ion-card>
    
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>Historial de registros</ion-card-title>
        <ion-card-subtitle>Ingresar al modulo</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        En este módulo encontrarás una lista de todos los registros de entrada y salida de miembros e invitados realizados a través de este torniquete. Podrás filtrar esta lista por diferentes criterios como la fecha o el tipo de visitante, para encontrar de manera más rápida el registro que estés buscando.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>