<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}, {{account?.firstName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logout">
        {{ 'LOGOUT_TITLE' | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div class="container ion-padding"> 
  
 <app-donut mensaje="{{mensaje}}" img="{{img}}"></app-donut>

 <div class="inputQR inputQR-2">
    <ion-input type="text" id="qrCodeInput"  color="transparent" [(ngModel)]="codigoQR" (keyup.enter)="obtenerCodigoQR()"></ion-input>
  </div>

 <ion-label style="color: black;" id="outputMessage">{{mensajeProcedimiento}}</ion-label>

</div>
