<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}, {{account?.firstName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logout">
        {{ 'LOGOUT_TITLE' | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div class="container ion-padding"> 
  
 <app-donut></app-donut>

 <div class="inputQR inputQR-2">
    <ion-input color="transparent" autofocus="true" [(ngModel)]="codigoQR" clear-input="clearInput" enterkeyhint="search"  (keyup.enter)="obtenerCodigoQR()"></ion-input>
 </div>

</div>
